@model IEnumerable<Student>
@{
    ViewData["Title"] = "ListStudents";
}

<h1>ListStudents</h1>

@if (Model.Any())
{
    <a asp-action="Create" class="btn btn-primary">Create Employee</a>

    <table class="table table-bordered">
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.First().UserName)
            </td>
            <td>
                @Html.DisplayNameFor(x => x.First().Email)
            </td>
            <td>
                Registered Courses
            </td>
            <td>Operations</td>
        </tr>

        @foreach (var std in Model)
        {
            <tr>
                <td>@std.UserName</td>
                <td>@std.Email</td>
                <td>@std.RegisteredCourses?.Count()</td>
                <td>
                    <a asp-action="StudentDetails"
                       asp-route-id="@std.Id"
                       class="btn btn-secondary"> More Details </a>

                    <a asp-action="EditStudent"
                       asp-route-id="@std.Id"
                       class="btn btn-warning"> Edit </a>

                    <a asp-action="DeleteStudent"
                       asp-route-id="@std.Id"
                       class="btn btn-danger"> Remove </a>
                </td>
            </tr>
        }

    </table>

}
else
{
    <div class="alert alert-warning">
        No Employees in this list,
        <a asp-action="Create" class="btn btn-primary">Create</a>
    </div>
}
